html {
    scroll-behavior: smooth;
    font-family: 'Piazzolla', serif;
}

body {

}


.main-page-header {
    background: rgb(37, 219, 0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 50px;
    margin: 0;
}